<% include partials/header.ejs %>

<h1>My home page</h1>
<% if(user) { %>
Hello, <b><%= typeof user.name === 'string' ? user.name : 'Unknown' %></b>.
<% } %>
<br><br>
<a href="/restricted" class="btn btn-danger">Go to restricted page</a>
<a href="/auth/login" class="btn btn-primary">Login</a>
<a href="/auth/signup" class="btn btn-primary">Signup</a>
<a href="/auth/logout" class="btn btn-primary">Log me out now!</a>



<% include partials/footer.ejs %>